# Development environment values
image:
  tag: "v1.3.0-alpha"

podAnnotations:
  vault.hashicorp.com/auth-path: "auth/k8s-my-app-development"
  vault.hashicorp.com/agent-inject: "true"
  vault.hashicorp.com/role: "my-app-role"
  vault.hashicorp.com/agent-inject-secret-env: "secret/data/my-app/development/config"
  vault.hashicorp.com/agent-inject-template-env: |
    {{- with secret "secret/data/my-app/development/config" -}}
    ENV="{{ .Data.data.ENV }}"
    DB_CONNECTION="{{ .Data.data.DB_CONNECTION }}"
    DB_HOST="{{ .Data.data.DB_HOST }}"
    DB_PORT="{{ .Data.data.DB_PORT }}"
    DB_DATABASE="{{ .Data.data.DB_DATABASE }}"
    DB_USERNAME="{{ .Data.data.DB_USERNAME }}"
    DB_PASSWORD="{{ .Data.data.DB_PASSWORD }}"
    {{- end }}

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: dev.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-secret
      hosts:
        - dev.example.com

livenessProbe:
  httpGet:
    path: /health/liveness
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5

readinessProbe:
  httpGet:
    path: /health/readiness
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 70

persistence:
  enabled: true
  storageClassName: sc
  mountPath: "/app/uploads"
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  finalizers:
    - kubernetes.io/pvc-protection
